@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$color-primary-red: hsl(10, 79%, 65%);
$color-primary-blue: hsl(186, 34%, 60%);

$color-dark-brown: hsl(25, 47%, 15%);
$color-medium-brown: hsl(28, 10%, 53%);
$color-cream: hsl(27, 66%, 92%);
$color-pale-orange: hsl(33, 100%, 98%);


@mixin style-main-containers($size, $border) {
  padding: $size;
  margin: 0 $size $size $size;
  border-radius: $border;
}